In [2]:
import pandas as pd

df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
#1. How many men and women (sex feature) are represented in this dataset?

df['gender'].value_counts()

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [4]:
#2. What is the average age (age feature) of women?

df['gender'] = df['gender'].str.strip()
df.loc[df['gender'] == 'Female','age'].mean()

36.85823043357163

In [5]:
#3. What is the percentage of German citizens (native-country feature)?

df['native-country'] = df['native-country'].str.strip()
sum_citizen = df.shape[0] #sum of citizen
german_citizen = df[df['native-country']=='Germany'].shape[0] #sum of german citizen
print(german_citizen,round(german_citizen/sum_citizen *100,2),'%')

137 0.42 %

In [6]:
#4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

df['income'] = df['income'].str.strip()
more_50K = df.loc[df['income']=='>50K','age']
less_50K = df.loc[df['income']!='>50K','age']
print('more than 50K, mean age :',more_50K.mean(),'SD:',more_50K.std())
print('less than 50K, mean age :',less_50K.mean(),'SD:',less_50K.std())

more than 50K, mean age : 44.24984058155847 SD: 10.51902771985177
less than 50K, mean age : 36.78373786407767 SD: 14.020088490824813

In [7]:
#5.  Is it true that people who earn more than 50K have at least a high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

df['education'] = df['education'].str.strip()
df['education'].value_counts()
high_school = ['Bachelors','Prof-school','Assoc-voc','Masters','Doctorate']

df.loc[(~df['education'].isin(high_school)) & (df['income']=='>50K'),'education'].value_counts()

#There still some result, so the statement is not true

HS-grad         1675
Some-college    1387
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [8]:
#6. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.
df['race'] = df['race'].str.strip()

df.groupby(['race','gender'])['age'].max()

race                gender
Amer-Indian-Eskimo  Female    80
                    Male      82
Asian-Pac-Islander  Female    75
                    Male      90
Black               Female    90
                    Male      90
Other               Female    74
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64

In [9]:
df.groupby(['race','gender'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               gender
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               gender
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [10]:
#7. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

df['marital-status'] = df['marital-status'].str.strip()
df['marital-status'].value_counts()

married = ['Married-spouse-absent','Married-AF-spouse','Married-civ-spouse']

married_50K = df.loc[(df['marital-status'].isin(married)) & (df['income']=='>50K')].shape[0]
single_50K = df.loc[(~df['marital-status'].isin(married)) & (df['income']=='>50K')].shape[0]

print(married_50K,single_50K)

6736 1105

In [11]:
#8.	 What is the maximum number of hours a person works per week (hours-per-week feature)? 
#How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

#df['hours-per-week'] = df['hours-per-week'].str.strip()

maxhr = df['hours-per-week'].max()
num_of_max = df[df['hours-per-week']==maxhr].shape[0]
num_of_max_with_50K = df[(df['hours-per-week']==maxhr) & (df['income']=='>50K')].shape[0]
print(maxhr,num_of_max,num_of_max_with_50K/num_of_max*100)

99 85 29.411764705882355

In [12]:
#9.	Count the average time of work (hours-per-week) for those who earn a little and 
# a lot (salary) for each country (native-country). What will these be for Japan?

df.groupby(['native-country','income'])['hours-per-week'].mean().reset_index()

   native-country income  hours-per-week
0               ?  <=50K       40.164760
1               ?   >50K       45.547945
2        Cambodia  <=50K       41.416667
3        Cambodia   >50K       40.000000
4          Canada  <=50K       37.914634
..            ...    ...             ...
77  United-States   >50K       45.505369
78        Vietnam  <=50K       37.193548
79        Vietnam   >50K       39.200000
80     Yugoslavia  <=50K       41.600000
81     Yugoslavia   >50K       49.500000

[82 rows x 3 columns]

In [15]:
df[df['native-country']=='Japan'].groupby(['income'])['hours-per-week'].mean()

income
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64

In [24]:
#10. Find out the total number of hours worked and mean salary as per different occupations.
df['occupation'] = df['occupation'].str.strip()

df.groupby(['occupation','income'])['hours-per-week'].sum()

occupation         income
?                  <=50K      51899
                   >50K        6904
Adm-clerical       <=50K     120837
                   >50K       20758
Armed-Forces       <=50K        326
                   >50K          40
Craft-repair       <=50K     131895
                   >50K       41510
Exec-managerial    <=50K      89817
                   >50K       93103
Farming-fishing    <=50K      40474
                   >50K        6234
Handlers-cleaners  <=50K      48313
                   >50K        3675
Machine-op-inspct  <=50K      70752
                   >50K       10841
Other-service      <=50K     108444
                   >50K        5898
Priv-house-serv    <=50K       4865
                   >50K          35
Prof-specialty     <=50K      91492
                   >50K       83989
Protective-serv    <=50K      18212
                   >50K        9611
Sales              <=50K     102226
                   >50K       46625
Tech-support       <=50K      24869
                   >50K       11724
Transport-moving   <=50K      55709
                   >50K       15607
Name: hours-per-week, dtype: int64